/* Background Image */
html {
    background: url(../images/dog-paws.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* Element Tags */
body {
    font-family: Roboto, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10% 20%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 1em;
    text-align: center;
}

fieldset input,
fieldset textarea {
    width: 60%;
    margin: .5em auto;
}

h1 {
    font-size: 2em;
    text-align: center;
}

hr {
    width: 95%;
    margin-bottom: 25px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: .7em;
    padding-bottom: 1em;
}

/* Id Attributes */
#submit-btn,
#update-btn {
    box-sizing: content-box;
    align-self: center;
    margin: 10% 0 0 0;
    font-size: 2em;
    padding: 1em;
}

#mood-filter-container {
    padding: 5px 0 15px 0;
    margin: 5% 20%;
    text-align: center;
    border-radius: 2%;
    background-color: rgba(241, 233, 233, 0.85);
}

#mood-filter-container p {
    font-size: .8em;
}

/* Class Attributes */
.hidden {
    display: none;
}

.container {
    margin: 10% auto;
}

.input-message-div,
.incomplete-message-div {
    text-align: center;
    font-size: 0.8em;
    color: red;
}

.transparent-bg, .journal-entry {
    background-color: rgba(241, 233, 233, 0.6);
    border-radius: 2%;
}

.transparent-bg:hover,
.journal-entry:hover {
    background-color: rgba(241, 233, 233, 0.85);
}

.divide {
    width: 75%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.shadow-bottom {
    box-shadow: 0 8px 6px -6px black;
}

.journal-form {
    background-color: rgba(241, 233, 233, 0.85);
    border-radius: 2%;
}

.journal-edit-form {
    align-self: center;
    width: 360px;
    margin: 0 5%;
    background-color: rgba(136, 122, 122);
}

.journal-edit-form textarea {
    width: 95%;
}

.journal-edit-form input {
    width: 100%;
}

.journal-display {
    margin: 0 5%;
    text-align: center;
}

.journal-entry {
    margin-bottom: 25px;
    padding: 1em;
}

.journal-entry-body {
    text-align: left;
    text-indent: 2em;
}

.journal-entry-date {
    font-size: .8em;
}

.mood-radio {
    display: inline-block;
    
}

/* style Edit and Delete buttons */