html {
    background: url(../images/dog-paws.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    margin: 10% auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10% 20%;
}

.transparent-bg {
    background-color: rgba(241, 233, 233, 0.6);
    border-radius: 2%;
}

.shadow-bottom {
    box-shadow: 0 8px 6px -6px black;
}

h1 {
    font-size: 2em;
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 1em;
    text-align: center;
}

fieldset input,
fieldset textarea {
    width: 60%;
    margin: .5em auto;
}
.submit-btn {
    box-sizing: content-box;
    align-self: center;
    margin: 10% 0 0 0;
    font-size: 2em;
    padding: 1em;
}

footer {
    display: flex;
    justify-content: center;
    font-size: .7em;
    padding-bottom: 1em;
}